html {
	color: #000;
	background: #fff;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li,
	pre, fieldset, lengend, button, input, textarea, form, th, td {
	margin: 0;
	padding: 0;
}

body, button, input, select, textarea {
	font: 14px/1.5 "\5FAE\8F6F\96C5\9ED1", sans-serif, Arial, "\5b8b\4f53",
		sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

address, cite, dfn, em, var {
	font-style: normal;
}

code, kbd, pre, samp, tt {
	font-family: "Courier New", Courier, monospace;
}

small {
	font-size: 12px;
}

ul, ol {
	list-style: none;
}

a {
	cursor: pointer;
	color: #0000ee;
	text-decoration: underline;
}

a:hover {
	color: #0000ee;
	text-decoration: underline;
}

abbr[title], acronym[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

q:before, q:after {
	content: '';
}

legend {
	color: #000;
}

fieldset, img {
	border: none;
}

button, input, select, textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	border: none;
	height: 1px;
	*color: #fff;
}

img {
	-ms-interpolation-mode: bicubic;
}

.t-l {
	text-align: left;
}

.t-r {
	text-align: right;
}

.t-c {
	text-align: center;
}

.f-l {
	float: left;
}

.f-r {
	float: right;
}

.clr {
	zoom: 1;
}

.clr:after {
	content: "\0020";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}