.header {
	height: 50px;
	background: #2C2C2C;
	overflow: hidden;
}

.logo {
	float: left;
	padding: 10px 0 0 10px;
}

.head_desc {
	float: left;
	font-size: 18px;
	padding: 18px 0 0 10px;
	color: #FFF;
}

.home_page {
	float: right;
	line-height: 50px;
	padding: 0 10px 0 0;
}

.home_page a {
	color: #FFF;
	text-decoration: none;
}

.home_page a:hover {
	color: #CCC;
}

.nav {
	background: #F0F0F0;
}

.nav ul {
	overflow: hidden;
}

.nav ul li {
	float: left;
	width: 50%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #CCC;
	background: #f0f0f0;
}

.nav ul .nav-cur {
	background: #DDDDDD;
	color: #333;
}

.upload-file {
	margin: 160px 0 0 0;
}

.upload-button {
	margin: 0 auto;
	width: 130px;
	padding: 25px 0;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background: #11DAB7;
	border-radius: 10px;
}

.upload-desc {
	padding: 15px 0;
	text-align: center;
}

.result {
	margin: 40px 0 0 0;
	text-align: center;
}

.viewer {
	width: 80%;
	float: left;
	border-right: 1px solid #ddd;
	box-sizing: border-box;
}

.property {
	float: left;
	width: 20%;
}

#element-tips {
	text-align: center;
	padding: 60px 0;
	color: #999;
	font-size:16px;
	background: url(../images/deng.png) no-repeat 40px 55px;
}

.property-title {
	padding: 10px 5px;
	background: #f0f0f0;
}

.model {
	overflow: hidden;
}

.t td, th {
	border: 1px solid #CCC;
	border-left: 0;
	padding: 5px;
	text-align: left;
}